@model rss
<div style="margin: 10px; padding: 10px; border: 1px; border-style: solid">
    @foreach (var channel in Model.channel)
    {
        <img src="@channel.image[0].url" alt="Yahoo Weather"/>
        <h3>@channel.title - @channel.lastBuildDate</h3>
        @Html.Raw(channel.item.FirstOrDefault().description)

        <h4>Further Details</h4>
        <ul>
            <li>Sunrise: @channel.astronomy.sunrise</li>
            <li>Sunset: @channel.astronomy.sunset</li>
            <li>Wind direction: @channel.wind.chill</li>
            <li>Wind direction: @channel.wind.direction</li>
            <li>Wind speed: @channel.wind.speed</li>
            <li>Humidity: @channel.atmosphere.humidity</li>
            <li>Pressure: @channel.atmosphere.pressure</li>
            <li>Visibility: @channel.atmosphere.visibility</li>
            <li>Latitude: @channel.item[0].lat</li>
            <li>Longitude: @Html.Raw(@channel.item[0].@long)</li>
        </ul>
    }
</div>
